<!--Rotate.html.erb
	Ryan Haines
	Displays the image rotated 90 degrees from its original position
-->
<h1>Rotate</h1>
<%= "Click photo to return to the Dashboard" %>
<%= link_to image_tag(@photo.attachment_url), photos_path %>