<!--Sepia.html.erb
	Ryan Haines
	Displays the image with a sepiatone filter added to it
-->
<h1>Sepia</h1>
<%= "Click photo to return to the Dashboard" %>
<%= link_to image_tag(@photo.attachment_url), photos_path %>